/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Elements
# Typography
# Colors:
    ## Primary Colors:
        #cb6015
        #702082
        #fdda24
    ## Secondary Colors:
        #eed484
        #c4d600
        #g787b7
    ## Tertiary Colors:
        #bbc7d6
        #d0d3d4

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html{}
body {}
span {}
a {
    text-decoration: none;
    font-family : United Serif Reg;
    font-size : 18px;
}
button {}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@font-face {
  font-family: "new gothic";
  src: url("../fonts/NEWSGOTHICCONDENSEDBT.TTF") format("truetype");
}
h1 {
    font-family : NewsGoth Cn BT, sans-serif;
    font-weight : bold;
    font-size : 48px;
    text-transform : uppercase;
    color : #682B82;
    color : rgb(104, 43, 130);
}
h2 {
    font-family : NewsGoth Cn BT, sans-serif;
    font-size : 32px;
    text-transform : uppercase;
    color : #6384BB;
    color : rgb(99, 132, 187);
}
h3 {}
h4 {}
p {
    font-family : Helvetica LT Std, sans-serif;
    font-size : 18px;
    line-height : 140.58px;
    letter-spacing : -0.18px;
    color : #1A1A1A;
    color : rgb(26, 26, 26);
}

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
.gradient {
    background : -moz-linear-gradient(0% 50% 0deg,rgba(243, 201, 60, .6) 0%,rgba(213, 104, 33, .6) 50%,rgba(104, 43, 130, .6) 100%);
    background : -webkit-linear-gradient(0deg, rgba(243, 201, 60, .6) 0%, rgba(213, 104, 33, .6) 50%, rgba(104, 43, 130, .6) 100%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(243, 201, 60, .6) ),color-stop(0.5,rgba(213, 104, 33, .6) ),color-stop(1,rgba(104, 43, 130, .6) ));
    background : -o-linear-gradient(0deg, rgba(243, 201, 60, .6) 0%, rgba(213, 104, 33, .6) 50%, rgba(104, 43, 130, .6) 100%);
    background : -ms-linear-gradient(0deg, rgba(243, 201, 60, .6) 0%, rgba(213, 104, 33, .6) 50%, rgba(104, 43, 130, .6) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3C93C', endColorstr='#682B82' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(243, 201, 60, .6) 0%, rgba(213, 104, 33, .6) 50%, rgba(104, 43, 130, .6) 100%);
    filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.Alpha(opacity=60) progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3C93C',endColorstr='#682B82' , GradientType=1);
}

/*----------------------------------------------------------------
# Author's CSS styles
-----------------------------------------------------------------*/
body{
    margin: 0 auto;
    padding: 0;
}
header{
    background:#eed484;
    padding: 10px 10px;
}
main{
    max-width: 1000px;
    margin: 2% auto;
}
nav{
  align-items: center;
  display: flex;
  flex-flow: row;
  margin: 0px auto;
  max-width: 1080px;
  justify-content: space-between;
}
a{
  color:#702082;
}
nav img{
  max-height: 80px;
}
nav ul{
    display: flex;
    flex-flow: row wrap;
    list-style: none;git push -u origin master
    justify-content: space-around;
}
nav ul li{
  padding: 0 5px;
}
.menu-item{
    border: 1px solid black;
    padding: 3px;
}
.hero {
    padding: 8% 42% 5% 8%;
    background-size: cover;
    /*background-position: 0 -525px;*/
    min-height: 280px;

    background : -moz-linear-gradient(0% 50% 0deg,rgba(243, 201, 60, .6) 0%,rgba(213, 104, 33, .6) 50%,rgba(104, 43, 130, .6) 100%), url("../img/heropic.jpg") center 35% / cover no-repeat;
    background : -webkit-linear-gradient(0deg, rgba(243, 201, 60, .6) 0%, rgba(213, 104, 33, .6) 50%, rgba(104, 43, 130, .6) 100%), url("../img/heropic.jpg") center 35% / cover no-repeat;
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(243, 201, 60, .6) ),color-stop(0.5,rgba(213, 104, 33, .6) ),color-stop(1,rgba(104, 43, 130, .6) )), url("../img/heropic.jpg"), no-repeat 50% 50%;
    background : -o-linear-gradient(0deg, rgba(243, 201, 60, .6) 0%, rgba(213, 104, 33, .6) 50%, rgba(104, 43, 130, .6) 100%), url("../img/heropic.jpg") center 35% / cover no-repeat;
    background : -ms-linear-gradient(0deg, rgba(243, 201, 60, .6) 0%, rgba(213, 104, 33, .6) 50%, rgba(104, 43, 130, .6) 100%), url("../img/heropic.jpg") center 35% / cover no-repeat;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3C93C', endColorstr='#682B82' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(243, 201, 60, .6) 0%, rgba(213, 104, 33, .6) 50%, rgba(104, 43, 130, .6) 100%), url("../img/heropic.jpg") center 35% / cover no-repeat;
    filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.Alpha(opacity=60) progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3C93C',endColorstr='#682B82' , GradientType=1);
    background-blend-mode: lighten;
}
.hero p{
    color: #ffffff;
}
button{
  margin-top: 20px;
  background: #cb6015;
    color: #ffffff;
    padding: 5px 25px;
    text-transform: uppercase;
    border: none;
    min-height: 44px;
    font-family: helvetica, sans-serif;
    font-size: 20px;
}
button a{
  color: #fff;
}
.eventpic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.eventpic img{
    width: 113%;
}
.eventpic p{
    padding: 0 30px;
}
p{
    line-height: 22px;
    font-size: 1em;
}
.sponsors{

}
.sponsors img{
    width: 10%;
}
.tcblogo{
  padding: 20px 0;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.container section{
    width: 30%;
    background: #eed484;
    overflow: hidden;
}
h4{
    text-transform: uppercase;
    padding-left:20px;
}
.container section p{
  padding: 0px 22px;
}
.message{
    width: 50%;
    min-width: 350px;
    font-size: 16pt;
}
.team{
    display: flex;
    flex-flow: row wrap;
}
.team section{
    width: 33%;
}
.team div{
    width: 250px;
    height: 250px;
}
.team img{
    width: 100%;
}
h2{
  font-size: 32px;
  font-family: "new gothic";
}
footer{
    background-color:#d0d3d4;
    padding: 0 100px;
}
.footerlinks section{

}
.footerlinks{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.footerlinks img{
    width: 235px;
}
footer .copy{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 65px;
}
footer .copy ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    min-width: 150px;
}
footer ul{
    list-style: none;
    padding: 0;
}
.blogpic{
  display: flex;
  justify-content: center;
}
.blogpic div{
    width: 450px;
    height: 450px;
    margin-top: 115px;
}
.blogpic img{
    width: 100%;
}
.soloblog{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.soloblog section{
    width: 50%;
}
footer .address p{
  line-height: 1%;
}
footer a, footer p, footer h6{
  color: #702082;
}
footer h6{
  font-weight: bold;
  font-size: 1em;
}
h6{
  font-size: 18px;
  color: #702082;
}
#postbuttons{
/*  min-width: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-between;*/
}
#newspage{

}
#newspage section{
  display: flex;
  border: 1px dotted #702082;
  margin: 25px auto;
}
#newspage button{
  max-height:50px;
  min-width: 165px;
  align-self: flex-end;
  margin: 0 5px 10px 0;
}
@media (min-width:555px) and (max-width:950px),(min-device-width:555px) and (max-device-width:950px){
  header{
    padding: 0 10px;
  }
  .hero h1{
    width: 185%;
  }
  .hero p{
    width: 180%;
  }
main{
  text-align: center;
}
  .container section{
    width: 90%;
  }
  .eventpic{
    max-width: 900px;
  }
  .eventpic img{
    width:100%;
  }
  .message{
    margin: 0 auto;
    text-align: left;
  }
  .footerlinks{
    flex-flow: column;
    margin: 0 112px;
  }
  footer .address p{
    margin: 20px -52px;
  }
}

@media (min-width:0px) and (max-width:555px),(min-device-width:0px) and (max-device-width:555px) {
  header nav ul li{
    display: none;
  }
  .menu-item{
    display: block;
  }
  .hero h1{
    width: 185%;
  }
  .hero p{
    width: 180%;
  }
  footer .address p{
    margin: 13px -110px;
    line-height: 60%;
  }
  main{
    text-align: center;
  }
    .container section{
      width: 95%;
    }
    .eventpic{
      max-width: 900px;
    }
    .eventpic img{
      width:100%;
    }
    .message{
      margin: 0 auto;
      text-align: left;
    }
    footer p{
      margin: 0 -140px;
      text-align: center;
    }
    .hero p{
      width: 360px;
    }
    button{
      width:330px;
    }
    .sponsors img{
      width:250px;
    }
    .footerlinks{
      flex-flow: row wrap;
    }
}
