    /*--------------------------------------------------------------
    >>> TABLE OF CONTENTS:
    ----------------------------------------------------------------
    # Elements
    # Typography
    # Colors:
        ## Primary Colors:
            #cb6015
            #702082
            #fdda24
        ## Secondary Colors:
            #eed484
            #c4d600
            #g787b7
        ## Tertiary Colors:
            #bbc7d6
            #d0d3d4

    /*--------------------------------------------------------------
    # Elements
    --------------------------------------------------------------*/
    html{}
    body {}
    span {}
    a {
        text-decoration: none;
        font-family : United Serif Reg;
        font-size : 18px;
    }
    button {}


    /*--------------------------------------------------------------
    # Typography
    --------------------------------------------------------------*/
    @font-face {
      font-family: "new gothic";
      src: url("../fonts/NEWSGOTHICCONDENSEDBT.TTF") format("truetype");
    }
    h1 {
        font-family : NewsGoth Cn BT, sans-serif;
        font-weight : bold;
        font-size : 48px;
        text-transform : uppercase;
        color : #682B82;
        color : rgb(104, 43, 130);
    }
    h2 {
        font-family : NewsGoth Cn BT, sans-serif;
        font-size : 32px;
        text-transform : uppercase;
        color : #6384BB;
        color : rgb(99, 132, 187);
    }
    h3 {}
    h4 {}
    p {
        font-family : Helvetica LT Std, sans-serif;
        font-size : 18px;
        line-height : 140.58px;
        letter-spacing : -0.18px;
        color : #1A1A1A;
        color : rgb(26, 26, 26);
    }

    /*--------------------------------------------------------------
    # Colors
    --------------------------------------------------------------*/
    .gradient {
        background : -moz-linear-gradient(0% 50% 0deg,rgba(243, 201, 60, .6) 0%,rgba(213, 104, 33, .6) 50%,rgba(104, 43, 130, .6) 100%);
        background : -webkit-linear-gradient(0deg, rgba(243, 201, 60, .6) 0%, rgba(213, 104, 33, .6) 50%, rgba(104, 43, 130, .6) 100%);
        background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(243, 201, 60, .6) ),color-stop(0.5,rgba(213, 104, 33, .6) ),color-stop(1,rgba(104, 43, 130, .6) ));
        background : -o-linear-gradient(0deg, rgba(243, 201, 60, .6) 0%, rgba(213, 104, 33, .6) 50%, rgba(104, 43, 130, .6) 100%);
        background : -ms-linear-gradient(0deg, rgba(243, 201, 60, .6) 0%, rgba(213, 104, 33, .6) 50%, rgba(104, 43, 130, .6) 100%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3C93C', endColorstr='#682B82' ,GradientType=0)";
        background : linear-gradient(90deg, rgba(243, 201, 60, .6) 0%, rgba(213, 104, 33, .6) 50%, rgba(104, 43, 130, .6) 100%);
        filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.Alpha(opacity=60) progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3C93C',endColorstr='#682B82' , GradientType=1);
    }

    /*----------------------------------------------------------------
    # Author's CSS styles
    -----------------------------------------------------------------*/
    body{
        margin: 0 auto;
        padding: 0;
    }
    header{
        background:#eed484;
        padding: 10px 10px;
    }
    main{
        max-width: 1000px;
        margin: 2% auto;
    }
    nav{
      align-items: center;
      display: flex;
      flex-flow: row;
      margin: 0px auto;
      max-width: 1080px;
      justify-content: space-between;
    }
    a{
      color:#702082;
    }
    nav img{
      max-height: 80px;
    }
    nav ul{
        display: flex;
        flex-flow: row wrap;
        list-style: none;git push -u origin master
        justify-content: space-around;
    }
    nav ul li{
      padding: 0 5px;
    }
    .menu-item{
        border: 1px solid #702082;
        padding: 3px;
    }
    .hero {
        padding: 8% 42% 5% 8%;
        background-size: cover;
        /*background-position: 0 -525px;*/
        min-height: 280px;

        background : -moz-linear-gradient(0% 50% 0deg,rgba(243, 201, 60, .6) 0%,rgba(213, 104, 33, .6) 50%,rgba(104, 43, 130, .6) 100%), url("../img/heropic.jpg") center 35% / cover no-repeat;
        background : -webkit-linear-gradient(0deg, rgba(243, 201, 60, .6) 0%, rgba(213, 104, 33, .6) 50%, rgba(104, 43, 130, .6) 100%), url("../img/heropic.jpg") center 35% / cover no-repeat;
        background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(243, 201, 60, .6) ),color-stop(0.5,rgba(213, 104, 33, .6) ),color-stop(1,rgba(104, 43, 130, .6) )), url("../img/heropic.jpg"), no-repeat 50% 50%;
        background : -o-linear-gradient(0deg, rgba(243, 201, 60, .6) 0%, rgba(213, 104, 33, .6) 50%, rgba(104, 43, 130, .6) 100%), url("../img/heropic.jpg") center 35% / cover no-repeat;
        background : -ms-linear-gradient(0deg, rgba(243, 201, 60, .6) 0%, rgba(213, 104, 33, .6) 50%, rgba(104, 43, 130, .6) 100%), url("../img/heropic.jpg") center 35% / cover no-repeat;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3C93C', endColorstr='#682B82' ,GradientType=0)";
        background : linear-gradient(90deg, rgba(243, 201, 60, .6) 0%, rgba(213, 104, 33, .6) 50%, rgba(104, 43, 130, .6) 100%), url("../img/heropic.jpg") center 35% / cover no-repeat;
        filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.Alpha(opacity=60) progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3C93C',endColorstr='#682B82' , GradientType=1);
        background-blend-mode: lighten;
    }
    .hero p{
        color: #ffffff;
    }
    button{
      margin-top: 20px;
      background: #cb6015;
        color: #ffffff;
        padding: 5px 25px;
        text-transform: uppercase;
        border: none;
        min-height: 44px;
        font-family: helvetica, sans-serif;
        font-size: 20px;
    }
    button a{
      color: #fff;
    }
    .eventpic{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .eventpic img{
        width: 113%;
    }
    .eventpic p{
        padding: 0 30px;
    }
    p{
        line-height: 22px;
        font-size: 1em;
    }
    .sponsors{

    }
    .sponsors img{
        width: 10%;
    }
    .tcblogo{
      padding: 20px 0;
    }
    .container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .container section{
        width: 30%;
        background: #eed484;
        overflow: hidden;
    }
    h4{
        text-transform: uppercase;
        padding-left:20px;
    }
    .container section p{
      padding: 0px 22px;
    }
    .message{
        width: 50%;
        min-width: 350px;
        font-size: 16pt;
    }
    .team{
        display: flex;
        flex-flow: row wrap;
    }
    .team section{
        width: 33%;
    }
    .team div{
        width: 250px;
        height: 250px;
    }
    .team img{
        width: 100%;
    }
    h2{
      font-size: 32px;
      font-family: "new gothic";
    }
    footer{
        background-color:#d0d3d4;
        padding: 0 100px;
    }
    .footerlinks section{

    }
    .footerlinks{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .footerlinks img{
        width: 235px;
    }
    footer .copy{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 65px;
    }
    footer .copy ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
        min-width: 150px;
    }
    footer ul{
        list-style: none;
        padding: 0;
    }
    .blogpic{
      display: flex;
      justify-content: center;
    }
    .blogpic > div{
        width: 450px;
        height: 450px;

    }
    .blogpic img{
        width: 100%;
    }
    .soloblog{

    }
    .soloblog section{
        width: 50%;
    }
    .soloblog > div{
      display: flex;
      flex-flow: row wrap;
    }
    footer .address p{
      line-height: 1%;
    }
    footer a, footer p, footer h6{
      color: #702082;
    }
    footer h6{
      font-weight: bold;
      font-size: 1em;
    }
    h6{
      font-size: 18px;
      color: #702082;
    }
    #postbuttons{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    #postbuttons section{
      width:245px;
    }
    #postbuttons section a{
      border: 1px dotted #702082;
      padding: 10px 40px;
    }
    .mappage{
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
    }
    .map > div{
      width: 100%;
      height: 350px;
      overflow: hidden;
      margin: 0 auto;

    }
    .map > div img{
      width: 100%;
    }
    .mappage ul{
      display: flex;
      width: 100%;
      padding: 0;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    .mappage ul li{
      display: flex;
      justify-content: space-between;
      border: 1px dotted #702082;
      margin: 20px 0;
      max-height: 54px;
      min-height: 54px;
      width:31%;
    }
    .mappage ul li div{
      padding: 5px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .mappage ul h2{
      width: 100%
    }
    .mappage ul li h6{
      margin: 0;
    }
    .mappage ul li p{
      margin: 0;
    }
    .mappage ul li button{
      margin: 0;
      max-width: 62px;
    }
    .soloteam section{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }
    .soloteam section .text{
      width: 65%;
    }
    .soloteam img{
      width: 100%;
    }
    .soloteam .email{
      display: flex;
      justify-content: flex-end;
    }
    .involved p{
      width: 50%;
    }
    .involved .longp{
      width: 100%;
    }
    .involved ul{
      display: flex;
      list-style: none;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 0;
    }
    .involved ul li{
      width: 33%;
      margin: 40px 0;
    }
    .involved h6{
      margin: 0;
      width: 100%;
    }
    .involved ul li p{
      margin: 0;
      width: 100%;
    }
    .involved .longp a{
      text-decoration: underline;
    }
    .news p{
      width: 50%;
    }
    .news ul{
      display: flex;
      flex-flow: column;
      padding: 0;
    }
    .news ul li{
      display: flex;
      flex-flow: row nowrap;
      border: 1px dotted #702082;
      margin: 15px 0;
      padding: 20px;
    }
    .news ul li h6{
      margin: 0;
    }
    .news ul li p{
      margin: 0;
      width: 70%;
    }
    .news ul li button{
      max-height: 60px;
      min-width: 170px;
      align-self: flex-end;
    }
    .farmer .events{
      display: flex;
      flex-flow: column;
      padding: 0;
    }
    .farmer .events li{
      display: flex;
      flex-flow: row nowrap;
      border: 1px dotted #702082;
      margin: 15px 0;
      padding: 10px;
      max-height: 50px;
      justify-content: space-between;
      align-items: center;
    }
    .farmer .events li h6{
      margin: 0;
    }
    .farmer .events li p{
      margin: 0;
      width: 70%;
    }
    .farmer .events li button{
      max-height: 60px;
      min-width: 170px;
      align-self: flex-end;
    }
    .farmer .right{
      display: flex;
      justify-content: flex-end;
    }
    .farmer nav{
      display: flex;
      justify-content: flex-end;
    }
    .farmer img{
      width: 100%;
    }
    .farmer section a > i{
      font-size: 50%;
    }
    @media (min-width:555px) and (max-width:950px),(min-device-width:555px) and (max-device-width:950px){
      header nav ul{
        margin: 15px;
        padding: 0;
      }
      header{
        padding: 0 10px;
      }
      .hero h1{
        width: 185%;
      }
      .hero p{
        width: 180%;
      }
    main{
      text-align: center;
    }
      .container section{
        width: 90%;
      }
      .eventpic{
        max-width: 900px;
      }
      .eventpic img{
        width:100%;
      }
      .message{
        margin: 0 auto;
        text-align: left;
      }
      .footerlinks{
        flex-flow: column;
        margin: 0 112px;
      }
      footer .address p{
        margin: 20px -52px;
      }
      .mappage{
        max-width: 75%;
        margin: 0 auto;
        flex-flow: column;
      }
      .mappage ul{
        width: 100%;
        margin: 0 auto;
      }
      .mappage ul li{
        width: 100%;
        max-height: 70px;
      }
      .map > div{
        width: 75%;
      }
      nav ul{
        margin: 15px auto;
        padding: 0;
      }
      .soloteam section{
        flex-flow: column-reverse;
      }
      .soloteam .email{
        justify-content: center;
      }

    }

    @media (min-width:0px) and (max-width:555px),(min-device-width:0px) and (max-device-width:555px) {
      header nav ul{
        margin: 15px;
        padding: 0;
      }
      header nav ul li{
        display: none;
      }
      .menu-item{
        display: block;
      }
      .hero h1{
        width: 185%;
      }
      .hero p{
        width: 180%;
      }
      footer .address p{
        margin: 13px -110px;
        line-height: 60%;
      }
      main{
        text-align: center;
      }
        .container section{
          width: 95%;
        }
        .eventpic{
          max-width: 900px;
        }
        .eventpic img{
          width:100%;
        }
        .message{
          margin: 0 auto;
          text-align: left;
        }
        footer p{
          margin: 0 -140px;
          text-align: center;
        }
        .hero p{
          width: 360px;
        }
        button{
          width:330px;
        }
        .sponsors img{
          width:250px;
        }
        .footerlinks{
          flex-flow: row wrap;
        }
        .mappage{
          max-width: 75%;
          margin: 0 auto;
          flex-flow: column;
        }
        .mappage ul{
          width: 100%;
          margin: 0 auto;
        }
        .mappage ul li{
          width: 100%;
          max-height: 70px;
        }
        .map > div{
          width: 75%;
        }
        nav ul{
          flex-flow: column;
          margin: 15px auto;
          padding: 0;
        }
        .soloteam section{
          flex-flow: column-reverse;
        }
        .soloteam .email{
          justify-content: center;
        }
    }
    @media (min-width:760px) and (max-width:950px),(min-device-width:760px) and (max-device-width:950px){
      .team{
        max-width: 800px;
        margin: 0 auto;

      }
      .soloblog > div{
        flex-flow: column-reverse;
      }

    }
    @media (min-width:600px) and (max-width:760px),(min-device-width:600px) and (max-device-width:760px){
      .team{
        max-width: 560px;
        margin: 0 auto;
      }
      .team section{
        width: 50%;
      }
      .soloblog > div{
        flex-flow: column-reverse;
      }
    }

    @media (min-width:0px) and (max-width:600px),(min-device-width:0px) and (max-device-width:600px){
      .team{
        max-width: 250px;
        margin: 0 auto;
      }
      .team section{
        width: 100%;
      }
      .soloblog > div{
        flex-flow: column-reverse;
      }
    }
